<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MenuAPI.FiveM" version="3.2.2" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net452" />
  <package id="Salaros.ConfigParser" version="0.3.2" targetFramework="net452" />
  <package id="WakaTime" version="8.1.11" targetFramework="net452" />
</packages>